---
import Layout from "../../layouts/Layout.astro";
import Atropos from "../../components/Atropos.astro";

const fundamentals = [
  { name: "HTML5", img: "/img/technologies/html5.svg" },
  { name: "CSS", img: "/img/technologies/css.svg" },
  { name: "JavaScript", img: "/img/technologies/javascript.svg" },
];

const frameworks = [
  { name: "Astro", img: "/img/technologies/astro.svg" },
  { name: "Laravel", img: "/img/technologies/laravel.svg" },
  { name: "Nextjs", img: "/img/technologies/nextjs.svg" },
];

const databases = [
  { name: "MySQL", img: "/img/technologies/mysql.svg" },
  { name: "PostgreSQL", img: "/img/technologies/postgresql.svg" },
  { name: "MongoDB", img: "/img/technologies/mongodb.svg" },
];

const lenguajesProgramacion = [
  { name: "PHP", img: "/img/technologies/php.svg" },
  { name: "JavaScript", img: "/img/technologies/javascript.svg" },
];

const Tools = [
  { name: "Git", img: "/img/technologies/git.svg" },
  { name: "github", img: "/img/technologies/github-light.svg" },
  { name: "Tailwind", img: "/img/technologies/tailwindcss.svg" },
];
---

<Layout title="habilidades" class="some class">
  <div class="w-full lg:h-screen overflow-x-hidden sm:px-12">
    <div
      class="w-full h-full max-w-3xl mx-auto py-12 px-12 prose dark:prose-invert"
    >
      <h1 class="text-4xl mt-44" transition:name=`img-habilities`>
        HABILIDADES
      </h1>
      <p class="text-lg">
        A lo largo de mi trayectoria, he tenido la oportunidad de trabajar con
        una variedad de herramientas y tecnologías que me han ayudado a
        construir proyectos sólidos y funcionales.
        <br /><br />
        El Stack donde me destaco es en el desarrollo web, con tecnologías como PHP,
        Laravel, Tailwing y PostgreSQL.
      </p>
      <div class="flex justify-center items-center">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
          <img
            src="/img/technologies/laravel.svg"
            alt="Stack"
            class="w-48 h-48"
          />
          <img src="/img/technologies/php.svg" alt="Stack" class="w-48 h-48" />

          <img
            src="/img/technologies/postgresql.svg"
            alt="Stack"
            class="w-48 h-48"
          />

          <img
            src="/img/technologies/tailwindcss.svg"
            alt="Stack"
            class="w-48 h-48"
          />
        </div>
      </div>

      <br /><br />

      <p class="text-lg">
        Pero eso no me limita a trabajar con otras tecnologías, como JavaScript,
        Astro, Nextjs, MongoDB, entre otras.
      </p>
      <br />
      <div class="grid grid-cols-1 md:grid-cols-2 gap-24">
        <Atropos>
          <div
            class="flex flex-col backdrop-blur-lg justify-center items-center px-2 py-4 rounded-lg border-4 border-gray-200"
          >
            <h3  data-atropos-offset="-10">
              Habilidades Fundamentales
            </h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
              {
                fundamentals.map((fundamental) => (
                  <img
                    src={fundamental.img}
                    alt={fundamental.name}
                    class="w-12 h-12"
                    data-atropos-offset="-10"
                  />
                ))
              }
            </div>
          </div>
        </Atropos>
        <Atropos>
          <div
            class="flex flex-col backdrop-blur-lg justify-center items-center p-4 rounded-lg border-4 border-gray-200"
          >
            <h3  data-atropos-offset="-10">
              Desde Frameworks
            </h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
              {
                frameworks.map((framework) => (
                  <img
                    src={framework.img}
                    alt={framework.name}
                    class="w-12 h-12"
                    data-atropos-offset="-10"
                  />
                ))
              }
            </div>
          </div>
        </Atropos>
        <Atropos>
          <div
            class="flex flex-col backdrop-blur-lg justify-center items-center p-4 rounded-lg border-4 border-gray-200"
          >
            <h3  data-atropos-offset="-10">Bases de datos</h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
              {
                databases.map((database) => (
                  <img
                    src={database.img}
                    alt={database.name}
                    class="w-12 h-12"
                    data-atropos-offset="-10"
                  />
                ))
              }
            </div>
          </div>
        </Atropos>
        <Atropos>
          <div
            class="flex flex-col backdrop-blur-lg justify-center items-center p-4 rounded-lg border-4 border-gray-200"
          >
            <h3  data-atropos-offset="-10">Lenguajes</h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
              {
                lenguajesProgramacion.map((Lenguajes) => (
                  <img
                    src={Lenguajes.img}
                    alt={Lenguajes.name}
                    class="w-12 h-12"
                    data-atropos-offset="-10"
                  />
                ))
              }
            </div>
          </div>
        </Atropos>
        <Atropos>
          <div
            class="flex flex-col backdrop-blur-lg justify-center items-center p-4 rounded-lg border-4 border-gray-200"
          >
            <h3  data-atropos-offset="-10">
              herramientas de desarrollo
            </h3>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6">
              {
                Tools.map((Tool) => (
                  <img
                    src={Tool.img}
                    alt={Tool.name}
                    class="w-12 h-12"
                    data-atropos-offset="5"
                  />
                ))
              }
            </div>
          </div>
          <br />
          <br />
          <br />
        </Atropos>
      </div>
    </div>
  </div>
</Layout>
