---
import { getCollection } from "astro:content";

// Get all `src/content/books/` entries
const certified = await getCollection("certified", ({ id }) => id.startsWith('es/'));
---


  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-10">
    <h1 class="text-2xl font-bold text-blue-500 dark:text-blue-400 col-span-full">
      Certificates
    </h1>

    {
      certified.map((certificado) => (
        <div class="flex flex-col bg-white dark:bg-gray-800 rounded-xl shadow-lg overflow-hidden">
          
          <div class="w-full md:aspect-auto md:h-72">
            <img
              src={certificado.data.image}
              alt={certificado.data.title}
              class="w-full h-full mx-0 my-0"
            />
          </div>

          <div class="w-full p-6 flex flex-col justify-between">
            <div>
              <div class="flex flex-col justify-between">
                <span class="text-xs font-medium mb-4">
                    {certificado.data.shipper}
                </span>
                <p class="text-xl font-semibold text-gray-900 dark:text-white mx-0 my-0">
                  {certificado.data.title}
                </p>
              </div>
              <p class="text-gray-600 dark:text-gray-300 text-md mt-2 line-clamp-4">
                {certificado.data.description}
              </p>
            </div>
            <a
              href={certificado.data.link}
              class="no-underline"
              target="_blank"
              rel="noopener noreferrer"
            >
            <button class={certificado.data.color}>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M13.586 2a2 2 0 0 1 1.284.467l.13.119L19.414 7a2 2 0 0 1 .578 1.238l.008.176V20a2 2 0 0 1-1.85 1.995L18 22H6a2 2 0 0 1-1.995-1.85L4 20V4a2 2 0 0 1 1.85-1.995L6 2zM12 4H6v16h12V10h-4.5a1.5 1.5 0 0 1-1.493-1.356L12 8.5zm.988 7.848a6.22 6.22 0 0 0 2.235 3.872c.887.717.076 2.121-.988 1.712a6.22 6.22 0 0 0-4.47 0c-1.065.41-1.876-.995-.989-1.712a6.22 6.22 0 0 0 2.235-3.872c.178-1.127 1.8-1.126 1.977 0m-.99 2.304l-.688 1.196h1.38zM14 4.414V8h3.586z"/></g></svg>
                View Certificate

            </button>
            </a>
          </div>
        </div>
      ))
    }
  </div>

